<footer>
    <div class="fd1">
      Copyright@2023 All rights reserved | This template is made by Pragyan
    </div>
    <div class="fd2">
      <p>Stay Connected</p>
      <a href="https://www.facebook.com/" target="_blank"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a href="https://www.twitter.com/" target="_blank"
        ><i class="fa-brands fa-twitter"></i
      ></a>
      <a href="https://www.instagram.com" target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a href="https://www.pinterest.com" target="_blank"
        ><i class="fa-brands fa-pinterest"></i
      ></a>
    </div>
  </footer>

  <script src="script.js"></script>
</body>
</html>