<%- include('partials/header') %>

<body>
    <nav class="navbar">
      <div id="nd1">
        <img src="images/download.png" alt="" style="height: 3.5rem; width: 3.5rem;"/>
      </div>
      <div id="nd2">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#section2">About</a></li>
          <li><a href="#section3">Skills</a></li>
          <li><a href="#section4">Services</a></li>
          <li><a href="#section5">Contact</a></li>
        </ul>
      </div>
      <div id="s1d2"><button class="btn">Get a Quote</button></div>
    </nav>
    <section id="section1">
      <div class="s1d1">
        <div id="s1d11">
          <h1>Hello</h1>
          <h1>I'm Pragyan</h1>
          <p>
            I am a developer, and I am passionate about building high-performing websites that drive results.
          </p>
        </div>
        <div id="s1d2"><button class="btn1">Download CV</button></div>
      </div>
    </section>
    <div id="border1"></div>

    <section id="section2">
      <div class="main-part-1">
        <img src="images/about-me.png" alt="" />
      </div>
      <div class="main-part-2">
        <h1 id="h1">I Create Products Not Just Art</h1>
        <p class="p1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab,
          dignissimos recusandae omnis eos animi quas itaque, officia
          praesentium, sit iusto voluptatibus distinctio repellat!
        </p>
        <p class="p2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit vel
          facere
        </p>
        <p class="p1">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe,
          facilis. Sed laborum ipsum quod, aliquam doloribus officiis doloremque
          distinctio porro? Iure, debitis aliquid?
        </p>
      </div>
    </section>

    <section id="section3">
      <h1>My Skills</h1>
      <div class="skill-container">
        <div class="skill" id="skill-1">
          <img src="images/html.png" alt="" />
        </div>
        <div class="skill" id="skill-2">
          <img src="images/css.png" alt="" />
        </div>
        <div class="skill" id="skill-3">
          <img src="images/js.png" alt="" />
        </div>
        <div class="skill" id="skill-4">
          <img src="images/react.png" alt="" />
        </div>
        <div class="skill" id="skill-5">
          <img src="images/tailwind.png" alt="" />
        </div>
        <div class="skill" id="skill-6">
          <img src="images/java.png" alt="" />
        </div>
      </div>
    </section>
    

    <section id="section4">
      <h1 id="section4-heading">What I Can Do !</h1>
      <!-- <h1 id="section4-heading">What Services you will Get from me!</h1> -->
      <div class="service-container">
        <div class="service-1">
          <div class="vector">
            <i class="fa-brands fa-codepen fa-2xl"></i>
          </div>
          <h1 id="primary-heading">Responsive Website</h1>
          <p id="paragraph">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi,
            dicta ipsa. Similique facere, fugit adipisci eaque officia culpa
            aspernatur soluta.
          </p>
        </div>
        <div class="service-2">
          <div class="vector">
            <i class="fa-brands fa-codepen fa-2xl"></i>
          </div>
          <h1 id="primary-heading">UI/UX Design</h1>
          <p id="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            sint consequatur aperiam sit quasi beatae aspernatur sed error
            eligendi excepturi!
          </p>
        </div>
        <div class="service-3">
          <div class="vector">
            <i class="fa-solid fa-bullhorn fa-2xl"></i>
          </div>
          <h1 id="primary-heading">Digital Marketing</h1>
          <p id="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
            sint consequatur aperiam sit quasi beatae aspernatur sed error
            eligendi excepturi!
          </p>
        </div>
      </div>
    </section>
    <section id="section5">
      <h1 id="section5-heading">Get in Touch</h1>
      <div class="main-form">
          <div class="form-left">
            <form method="post">
          <textarea
            name="message"
            id="msg"
            cols="30"
            rows="10"
            placeholder="Leave Your Message"
          ></textarea>
          <div class="main-form-sub-part">
            
            <input
              type="text"
              name="clientName"
              id="name"
              placeholder="Enter your name"
              required
            />
            <input type="email" name="email" id="email" placeholder="Email" required />
          </div>
          <input type="text" name="subject" id="subject" placeholder="Enter Subject" required/>
          <button class="btn2" type="submit">SEND</button>
        </form>
        </div>
        <div class="form-right">
          <div class="form-right-content">
            <div class="f-r-s-p">
              <div class="icon"><i class="fa-solid fa-house fa-2xl"></i></div>
              <div class="form-right-part-1">
                <p id="form-primary-heading">Buttonwood, California</p>
                <p>Rosemead, CA 91770</p>
              </div>
            </div>
            <div class="f-r-s-p">
              <div class="icon">
                <i class="fa-solid fa-mobile-screen fa-2xl"></i>
              </div>
              <div class="form-right-part-2">
                <p id="form-primary-heading">+1 253 565 2365</p>
                <p>Mon to Fri 9am to 6pm</p>
              </div>
            </div>
            <div class="f-r-s-p">
              <div class="icon">
                <i class="fa-solid fa-envelope fa-2xl"></i>
              </div>
              <div class="form-right-part-1">
                <p id="form-primary-heading">support@portfoliowebsite.com</p>
                <p>Send us your query anytime</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <%- include('partials/footer') %>